<!--{template common/header}-->
<div class="wp">
  <div class="ddys-discuz-page">
    <div class="ddys-discuz-page-head">
      <h1>$title</h1>
      <nav>
        <a href="plugin.php?id=ddys_open:index">最新</a>
        <a href="plugin.php?id=ddys_open:index&view=hot">热门</a>
        <a href="plugin.php?id=ddys_open:index&view=search">搜索</a>
        <a href="plugin.php?id=ddys_open:index&view=calendar">日历</a>
        <a href="plugin.php?id=ddys_open:index&view=collections">片单</a>
        <a href="plugin.php?id=ddys_open:index&view=requests">求片</a>
      </nav>
    </div>
    $content
  </div>
</div>
<!--{template common/footer}-->

